ENVIRONMENT=development
PORT=3000
JWT_SECRET=#SSy;N?G!8"ZqO5*FC3fqW5NtRuq7)fVbgY5DJzop3q>Sc1%([oJ!2\0,N0SqDDR

SENDGRID_FROM_EMAIL=
SENDGRID_API_KEY=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_VERIFY_SERVICE_SID=
TWILIO_LOCALE=he

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=postgres
